<% total_violations_est = ((@stats.total_study_time/@stats.seconds_observed)*(MachineLearner.first(vote_method: "presence").estimated_count*((@stats.current_violation_votes[0] / @stats.current_violation_votes.sum).round(4)))).to_i %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="jumbotron jumbotron_img_responsive" id="header">
  <h1 class="display-3">Stop Sign Detector</h1>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>So there's this Stop Sign</h3>
    <img src="http://i.imgur.com/yxzMhh4.png" class="img-fluid" />
  </div>
</div>
<hr>
<div class="row">
  <h2>Everyone Runs this Sign</h2>
</div>
<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/9RKrizy.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/4aPfN1o.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/vgWoO74.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/YVhuF4X.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/J9Ws2jZ.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/vGNHUeA.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/FTAsNQp.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/xX7EvvA.gif" />
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" style="width:100% ;padding-top: 2px" src="http://i.imgur.com/h8YfYmJ.gif" />
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <h2>My house has a good view of it from the back...</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jPK0Q58wMNg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<hr>
<div class="row text-center">
  <div class="col-sm-12">
    <h2>But of course, I can't spend time counting cars...</h2>
    <p><b>But a webcam attached to a Raspberry Pi sure can</b></p>
    <img class="img img-responsive" src="http://i.imgur.com/nolbmkf.jpg" />
  </div>
</div>
<hr>
<div class="row">
  <h2>📊 Current Stats ⏱️</h2>
</div>
<div class="row">
  <h4>Total hourly stop sign runs</h4>
  <div id="chart_div_hourly" style="width: 760px; height: 400px;"></div>
  <script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Full', 'Weekday', 'Weekend'],
          ['12 am', <%= (total_violations_est*(@stats.hourly["full"][0][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][0][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][0][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['1 am',  <%= (total_violations_est*(@stats.hourly["full"][1][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][1][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][1][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['2 am',  <%= (total_violations_est*(@stats.hourly["full"][2][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][2][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][2][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['3 am',  <%= (total_violations_est*(@stats.hourly["full"][3][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][3][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][3][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['4 am',  <%= (total_violations_est*(@stats.hourly["full"][4][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][4][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][4][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['5 am',  <%= (total_violations_est*(@stats.hourly["full"][5][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][5][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][5][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['6 am',  <%= (total_violations_est*(@stats.hourly["full"][6][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][6][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][6][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['7 am',  <%= (total_violations_est*(@stats.hourly["full"][7][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][7][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][7][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['8 am',  <%= (total_violations_est*(@stats.hourly["full"][8][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][8][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][8][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['9 am',  <%= (total_violations_est*(@stats.hourly["full"][9][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>,  <%= (total_violations_est*(@stats.hourly["weekday"][9][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][9][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['10 am', <%= (total_violations_est*(@stats.hourly["full"][10][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][10][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][10][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['11 am', <%= (total_violations_est*(@stats.hourly["full"][11][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][11][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][11][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['12 pm', <%= (total_violations_est*(@stats.hourly["full"][12][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][12][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][12][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['1 pm',  <%= (total_violations_est*(@stats.hourly["full"][13][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][13][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][13][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['2 pm',  <%= (total_violations_est*(@stats.hourly["full"][14][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][14][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][14][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['3 pm',  <%= (total_violations_est*(@stats.hourly["full"][15][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][15][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][15][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['4 pm',  <%= (total_violations_est*(@stats.hourly["full"][16][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][16][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][16][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['5 pm',  <%= (total_violations_est*(@stats.hourly["full"][17][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][17][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][17][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['6 pm',  <%= (total_violations_est*(@stats.hourly["full"][18][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][18][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][18][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['7 pm',  <%= (total_violations_est*(@stats.hourly["full"][19][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][19][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][19][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['8 pm',  <%= (total_violations_est*(@stats.hourly["full"][20][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][20][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][20][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['9 pm',  <%= (total_violations_est*(@stats.hourly["full"][21][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][21][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][21][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['10 pm', <%= (total_violations_est*(@stats.hourly["full"][22][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][22][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][22][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
          ['11 pm', <%= (total_violations_est*(@stats.hourly["full"][23][1]/@stats.hourly["full"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekday"][23][1]/@stats.hourly["weekday"].collect(&:last).sum)).to_i %>, <%= (total_violations_est*(@stats.hourly["weekend"][23][1]/@stats.hourly["weekend"].collect(&:last).sum)).to_i %>],
        ]);
       var options = {
          chart: {
            width: 760,
            height: 400,
            title: 'Total Hourly Transits',
            hAxis: {
              title: 'Time of Day',
              format: 'h:mm a'
            }
          }
        };

          var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div_hourly'));

          chart.draw(data, options);
        }
  </script>
</div>
<div class="row">
  <h4>Total daily stop sign runs</h4>
  <div id="chart_div_daily" style="width: 760px; height: 400px;"></div>
  <script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
          ['Day of Week', 'Stop Sign Runs'],
          ['Sunday', <%= (total_violations_est*(@stats.daily["full"][0][1]/@stats.daily["full"].collect(&:last).sum)).to_i %>],
          ['Monday', <%= (total_violations_est*(@stats.daily["full"][1][1]/@stats.daily["full"].collect(&:last).sum)).to_i %>],
          ['Tuesday', <%= (total_violations_est*(@stats.daily["full"][2][1]/@stats.daily["full"].collect(&:last).sum)).to_i %>],
          ['Wednesday', <%= (total_violations_est*(@stats.daily["full"][3][1]/@stats.daily["full"].collect(&:last).sum)).to_i %>],
          ['Thursday', <%= (total_violations_est*(@stats.daily["full"][4][1]/@stats.daily["full"].collect(&:last).sum)).to_i %>],
          ['Friday', <%= (total_violations_est*(@stats.daily["full"][5][1]/@stats.daily["full"].collect(&:last).sum)).to_i %>],
          ['Saturday', <%= (total_violations_est*(@stats.daily["full"][6][1]/@stats.daily["full"].collect(&:last).sum)).to_i %>],
        ]);
       var options = {
          chart: {
            width: 760,
            height: 400,
            title: 'Total Daily Transits',
            hAxis: {
              title: 'Time of Day',
              format: 'h:mm a'
            }
          }
        };

          var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div_daily'));

          chart.draw(data, options);
        }
  </script>
  <p>(Note that these totals result in separate totals due to the difference in resolution of hourly vs. daily)</p>
</div>
<div class="row">
  <div class="col">
    <%= @stats.observation_period_count.delimited %> Total scans, <%= @stats.stop_sign_log_count.delimited %> total suspected cases
  </div>
  <div class="col">
    <%= (@stats.seconds_observed/60/60).to_i.delimited %>+ Hours collected, spanning <%= (@stats.total_study_time/60/60/24).to_i.delimited %> days
  </div>
</div>
<div class="row">
  <div class="col">
    ≈<%= MachineLearner.first(vote_method: "presence").estimated_count.delimited %> total cars seen, ≈<%= MachineLearner.first(vote_method: "full_scene").estimated_count.delimited %> seen long enough to measure. An estimated ≈<%= ((@stats.total_study_time/@stats.seconds_observed)*MachineLearner.first(vote_method: "presence").estimated_count).to_i.delimited %> cars have passed the sign, with an average of ≈<%= (((@stats.total_study_time/@stats.seconds_observed)*MachineLearner.first(vote_method: "presence").estimated_count) / (@stats.total_study_time/60/60/24)).to_i.delimited %> per day.
  </div>
</div>
<div class="row">
  <div class="col">
    Machine learning on stop violations is still pending - too few actual stops to accurately assess. As of now, <%= (@stats.current_violation_votes[0] / @stats.current_violation_votes.sum).round(4) * 100 %>% of all stops are violations according to human assessment, leading to an estimated <%= (MachineLearner.first(vote_method: "presence").estimated_count*((@stats.current_violation_votes[0] / @stats.current_violation_votes.sum).round(4))).to_i.delimited %> observed violations, with an estimated ≈<%= total_violations_est.delimited %> total stop sign runs since monitoring began.
  </div>
</div>
<hr />
<div class="row">
  <h2>🏋️ Help Train the Machine 🏋️</h2>
</div>
<div class="row">
  <div class="col">
    <h3><a href="/train/presence">Train Car Presence</a></h3>
    <%= @stats.presence_vote_count.delimited %> total votes recorded
    <% if MachineLearner.first(vote_method: "presence") %>
      <p>Current Machine Accuracy: <%= MachineLearner.first(vote_method: "presence").accuracy %>% (<a href="/machine/presence">see examples</a>)</p>
    <% end %>
  </div>
  <div class="col">
    <h3><a href="/train/full_scene">Train Full Scene Check</a></h3>
    <%= @stats.full_scene_vote_count.delimited %> total votes recorded
    <% if MachineLearner.first(vote_method: "full_scene") %>
      <p>Current Machine Accuracy: <%= MachineLearner.first(vote_method: "full_scene").accuracy %>% (<a href="/machine/full_scene">see examples</a>)</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3><a href="/train/stop_violations">Train Stop Violations</a></h3>
    <%= @stats.stop_violations_vote_count.delimited %> total votes recorded
    <% if MachineLearner.first(vote_method: "stop_violations") %>
      <p>Current Machine Accuracy: <%= MachineLearner.first(vote_method: "stop_violations").accuracy %>% (<a href="/machine/stop_violations">see examples</a>)</p>
    <% end %>
  </div>
  <div class="col">
    <h3><a href="/train/wrong_way_violations">Train Wrong Way Violations</a></h3>
    <%= @stats.wrong_way_violations_vote_count.delimited %> total votes recorded
    <% if MachineLearner.first(vote_method: "wrong_way_violations") %>
      <p>Current Machine Accuracy: <%= MachineLearner.first(vote_method: "wrong_way_violations").accuracy %>% (<a href="/machine/wrong_way_violations">see examples</a>)</p>
    <% end %>
  </div>
</div>
<hr />
<footer>
  <a href="http://devingaffney.com">Devin, 2017</a> | <a href="http://github.com/DGaffney/stop_sign_project">GitHub</a>
</footer>
