<% if @previous_stop_id.nil? #more exact: Vote.count(session_id: @session_id) == 0 || Vote.count(vote_ip: @ip) == 0 || Vote.count(vote_ip: @ip, vote_method: @vote_method) == 0 && Vote.count(session_id: @session_id, vote_method: @vote_method) == 0 %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Before we begin...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please read the vote instructions <b>very specifically</b> - you are voting only on the truth or falseness of the statement on hand and nothing else - that is, if you're training on whether or not a car is present, you don't care if the car stops, only if you see a car in the GIF. The following statement is what you're assessing:
        <em>"<%= @vote_text %>"</em>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).on('load', function () {
    $('#myModal').modal('show');
  });
</script>
<% end %>
<div class="row">
  <a href="/">Back</a>
</div>
<script>
  Mousetrap.bind('j', function() {
    location.href = location.protocol+"//"+location.host+"/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/negative";
  });
  Mousetrap.bind('k', function() {
    location.href = location.protocol+"//"+location.host+"/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/affirmative";
  });
  Mousetrap.bind('l', function() {
    <% if @previous_stop_id != [""] %>
      location.href = location.protocol+"//"+location.host+"/train/<%= @vote_method %>/<%= @previous_stop_id %>";
    <% else %>
      location.href = location.protocol+"//"+location.host+"/train/<%= @vote_method %>";
    <% end %>
  });
</script>
<div class="row">
  <h2><%= @vote_type %></h2>
</div>
<style>
.jumbotron_img_responsive {
  background-image: url("<%= @ssl.get_url.strip %>");
  background-size: cover;
  color: #f40000;
  padding-top: 30px;
}

/* For width 400px and larger: */
@media only screen and (min-width: 750px) {
    .jumbotron_img_responsive { 
      background-image: url("<%= @ssl.get_url.strip %>");
      background-size: cover;
      color: #f40000;
      padding-top: 30px;
    }
}
</style>
<div class="jumbotron jumbotron_img_responsive" id="img">
</div>
<hr>
<div class="row">
  <div class="col">
    <p><%= @vote_text %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3><a href="/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/negative"><%= @vote_negative %></a></h3>
    <p>Keyboard shortcut: press "j" - press "l" to skip</p>
  </div>
  <div class="col">
    <h3><a href="/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/affirmative"><%= @vote_affirmative %></a></h3>
    <p>Keyboard shortcut: press "k" - press "l" to skip</p>
  </div>
</div>
<footer>
  <a href="http://devingaffney.com">Devin, 2017</a> | <a href="http://github.com/DGaffney/stop_sign_project">GitHub</a>
</footer>