<div class="row">
  <a href="/">Back</a>
</div>
<script>
  Mousetrap.bind('j', function() {
    location.href = location.protocol+"//"+location.host+"/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/negative";
  });
  Mousetrap.bind('k', function() {
    location.href = location.protocol+"//"+location.host+"/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/affirmative";
  });
  Mousetrap.bind('l', function() {
    <% if @previous_stop_id.nil != [""] %>
      location.href = location.protocol+"//"+location.host+"/train/<%= @vote_method %>/<%= @previous_stop_id %>";
    <% else %>
      location.href = location.protocol+"//"+location.host+"/train/<%= @vote_method %>";
    <% end %>
  });
</script>
<div class="row">
  <h2><%= @vote_type %></h2>
</div>
<style>
#img{
  background-image: url("<%= @ssl.get_url.strip %>");
  min-height:402px;
  color: #f40000;
  padding-top: 30px;
  background-size: 720px 402px;
}
</style>
<div class="jumbotron" id="img">
</div>
<hr>
<div class="row">
  <div class="col">
    <p><%= @vote_text %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3><a href="/train/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/negative"><%= @vote_negative %></a></h3>
    <p>Keyboard shortcut: press "j" - press "l" to skip</p>
  </div>
  <div class="col">
    <h3><a href="/train/vote/<%= @vote_method %>/<%= @ssl.stop_id %>/affirmative"><%= @vote_affirmative %></a></h3>
    <p>Keyboard shortcut: press "k" - press "l" to skip</p>
  </div>
</div>
<footer>
  <a href="http://devingaffney.com">Devin, 2017</a> | <a href="http://github.com/DGaffney/stop_sign_project">GitHub</a>
</footer>
<%= @previous_stop_id %>
